<html>
  <head>
    <title>Analyse météo depuis 1996</title>
  </head>
  <body>
    <nav class="menu">
      <ul>
        <li><a href='http://localhost:8000/'>Accueil</a></li>
        <li><a href='http://localhost:8000/les-dix-annees-les-plus-chaudes-depuis-1996'>Les 10 années les plus chaudes</a></li>
        <li><a href='http://localhost:8000/changement-de-temperature-dans-le-temps'>Les changements de température dans le temps</a></li>
        <li><a href='http://localhost:8000/jour-ou-les-eoliennes-n-ont-pas-tounees'>Les forts changements de température dans une semaine</a></li>
        <li><a href='http://localhost:8000/fort-changement-de-temperature-dans-une-semaine'>Le nombre de jour sans vent</a></li>
      </ul>
    </nav>

    <h1>Y-a-t-il de forts changements de température dans une semaine ?</h1>
  </body>
</html>