<nav class="menu">
    <ul>
      <li><a href={{ urls.index }}>Accueil</a></li>
      <li><a href={{ urls.dix_annee }}>Les 10 années les plus chaudes</a></li>
      <li><a href={{ urls.changement_temp }}>Les changements de température dans le temps</a></li>
      <li><a href={{ urls.fort_changement_temp_semaine }}>Les forts changements de température dans une semaine</a></li>
      <li><a href={{ urls.jour_de_vent }}>Le nombre de jour sans vent</a></li>
    </ul>
  </nav>

<h1>Les dix années les plus chaudes depuis 1996 :</h1>